.crossword__title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.crossword__main {
  flex: 1 1 50%;
}

.crossword__field {
  display: flex;
  gap: 16px;
}

.crossword__row {
  display: flex;
}

.crossword__definitions {
  padding: 1rem;
  background: #f8f9fa;
  border-radius: 0.5rem;
  border: 1px solid #e9ecef;
  flex: 1 1 50%;
}
